---
title:  Rickshaw
layout: fullscreen
max_width: true
---


<section class="posts">
	<div class="mb-4"><strong>🐲 In This Rickshaw:</strong>
		{% for person in site.data.people.authors %}
			<a href="/rickshaw/{{ person.username }}">
			{{ person.name }}</a>{% if forloop.last %}. {% else %}, {% endif %}
		{% endfor %}
	</div>
	<div id="swatch_time" class="mb-4"></div>
	<div id="unix_time" class="d-none"></div>

	{% assign pages = site.pages | sort: "date" %}
	{% assign codexes = pages | where: "codex", true %}
	{% assign lives_in_weeks = pages | where: "layout", "life-in-weeks" %}
	{% assign one_words = pages | where: "layout", "one-word" %}

	<div class="row inline-block">
		{% if one_words != empty %}
			<div class="col-12 col-sm-4 col-md-3"> 
				<strong class="mt-1">One Word</strong>
				{% for page in one_words %}
					{% assign author = site.data.people[page.author] %}
			  	<div>
			  		<a href="/rickshaw{{ page.url }}">{{ author.name }}</a>
			  	</div>
			  {% endfor %}
			</div>
		{% endif %}

		{% if codexes != empty %}
			<div class="col-12 col-sm-4 col-md-3">
				<strong class="mt-1">Codex Vitae</strong>
				{% for page in codexes %}
					{% assign author = site.data.people[page.author] %}
			  	<div>
			  		<a href="/rickshaw{{ page.url }}">{{ author.name }}</a>
			  	</div>
			  {% endfor %}
			</div>			
		{% endif %}

		{% if lives_in_weeks != empty %}
			<div class="col-12 col-sm-4 col-md-3">
				<strong class="mt-1">Life in Weeks</strong>
				{% for page in lives_in_weeks %}
					{% assign author = site.data.people[page.author] %}
			  	<div>
			  		<a href="/rickshaw{{ page.url }}">{{ author.name }}</a>
			  	</div>
			  {% endfor %}
			</div>
		{% endif %}
	</div>

	<div class="row mt-4">
		<div class="col">
			<strong>Updates</strong>
			{% for post in site.posts %}
		  	<div>
		  		<a href="/rickshaw{{ post.url }}">{{ post.title }}</a>
		  		<span class="meta">
			  		{% if post.author %}
							{% assign author = site.data.people[post.author] %}
			  			• <a href="/rickshaw/{{ author.username }}">{{ author.name }}</a>
			  			• {{ post.date | date: "%b %-d" }}
			  		{% endif %}
			  	</span>
		  	</div>
		  {% endfor %}
		</div>
	</div>
</section>