<header role="banner">
	<nav role="navigation">
		<ul>
		  <li><a href="/rickshaw/" {% if page.url == "/" %} class="active"{% endif %}>Rickshaw</a></li>
		  {% for p in site.data.people.authors %}
		  	{% assign person = site.data.people[p.username] %}
		    <li><a href="/rickshaw/{{ person.path }}" {% if page.url contains person.username or page.author == p.username %} class="active"{% endif %}>{{ person.name }}</a></li>
		  {% endfor %}


		  <li>•</li>
		  <li><a href="/rickshaw/about" {% if page.url == "/about" %} class="active"{% endif %}>About</a></li>

		</ul>
	</nav>
</header>