@import 'base';
@import 'grid';
@import 'typography';
@import 'header';
@import 'button';
@import 'popover';

// Life in weeks
.life-in-weeks {
	h2 {
		margin-top: 0;
	}
	.border-tertiary {
		border-color: #eee;
		color: #666;
	}
	.border-tertiary a {
		color: #666;
	}
	.week {
		a {
			text-decoration: none;
		}
	}
}

// One Word
.oneword {
}

// Codex 
.codex {
	ul li {
		padding: 5px 0 5px 0px;
		list-style: circle;
	}
}
