body {
	font-family: "Source Sans Pro", system-ui, sans-serif;
	-webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
	line-height:1.6;
	font-size: 1.1rem;
	color: rgb(22, 23, 26);
}
.serif {
	font-family: "Source Serif Pro", serif;	
}
a {
  color: #000;
  text-decoration-skip-ink: auto;
  text-decoration: underline;
}
hr {
	background: #000;
  height: 1px;
  border: 0;
}
blockquote {
	font-style: italic;
  border-left: 5px solid #f7f5a0;
  padding-left: 1rem;
}
h1,h2,h3,h4,h5 {
	line-height: 1.7rem;
	margin: 0;
	padding: 0;
	font-weight: 600;
	font-size: 1.2rem;
}
ul, ol {
	margin-bottom: 1rem;
	padding-left: 20px;
}
ul li {
	list-style: circle;
}
.post p {
	margin: .5rem 0;
}
.post h1, .post h2, .post h3, .post h4 {
	margin: 0;
	padding: 0;
}
.post h2:first-child, .project h2:first-child, .photo h2:first-child {
	margin-top: 0;
}
.meta {
	margin: 0.5rem 0 1rem 0;
	font-size: smaller;
	font-color: #666;
}
section h1:first-child {
	margin-top: 0;
}