---
layout: fullscreen
max_width: true
---

<section class="posts">
  <h2>🐲 <a href="{{ site.baseurl }}/">{{ site.title }}</a> > {{ page.title }}</h2>
  <div class="mt-4">{{ content }}</div>

  {% assign author = site.data.people[page.author] %}


  <div class="mt-4"><strong>Pages</strong></div>
	{% assign pages = site.pages | where: "author", author.username | where: "index", nil | sort: "title" %}
  {% include post_list.html posts=pages%}

  <div class="mt-4"><strong>Posts</strong></div>
	{% assign posts = site.posts | where: "author", author.username | where: "index", nil | sort: "date" %}
  {% include post_list.html posts=posts show_date=true%}

</section>



