---
layout: fullscreen
max_width: true
---

<section class="posts">
  <h2>🐲 <a href="{{ site.baseurl }}/">{{ site.title }}</a> > {{ page.title }}</h2>
  <div class="mt-4">{{ content }}</div>

  {% assign author = site.data.people[page.author] %}


  <p class="mt-4"><strong>Pages</strong></p>
	{% assign pages = site.pages | where: "author", author.username | where: "index", nil | sort: "title" %}
	{% for page in pages %}
  	<p>
  		<a href="/rickshaw{{ page.url }}">{{ page.title }}</a>
  	</p>
  {% endfor %}

  <p class="mt-4"><strong>Posts</strong></p>
	{% assign posts = site.posts | where: "author", author.username | where: "index", nil | sort: "date" %}
	{% for post in posts %}
  	<p>
  		<a href="/rickshaw{{ post.url }}">{{ post.title }}</a>
  		• {{ post.date | date: "%B %-d, %Y" }}
  	</p>
  {% endfor %}

</section>



