---
layout: default
---

<section class="posts">
  <h2><a href="{{ site.baseurl }}/">{{ site.title }}</a> > {{ page.title }}</h2>
  <p class="mb-1">{{ content }}</p>

  {% assign author = site.data.people[page.author] %}


  <p class="mt-1"><strong>Pages</strong></p>
	<ul class="mb-1">
		{% assign pages = site.pages | where: "author", author.username | where: "index", nil | sort: "title" %}
		{% for page in pages %}
	  	<li>
	  		<a href="/rickshaw{{ page.url }}">{{ page.title }}</a>
	  		{{ page.date | date: "%B %-d, %Y" }}
	  	</li>
	  {% endfor %}
	</ul>

  <p><strong>Posts</strong></p>
	<ul class="mb-1">
		{% assign posts = site.posts | where: "author", author.username | where: "index", nil | sort: "date" %}
		{% for post in posts %}
	  	<li>
	  		<a href="/rickshaw{{ post.url }}">{{ post.title }}</a>
	  		{{ page.date | date: "%B %-d, %Y" }}
	  	</li>
	  {% endfor %}
	</ul>

</section>



