---
layout: fullscreen
max_width: true
---

{% assign author = site.data.people[page.author] %}

<section class="oneword">
	{% include header_breadcrumb.html %}
	
	<div class="content mt-4">
	  {{ content }}		
	</div>


  {% assign related_pages = site.pages | where: "layout", "one-word" %}

  <div class="row inline-block">
    {% if related_pages != empty %}
      <div class="col-12 col-sm-4 col-md-2"> 
        <strong class="mt-1">Other Words</strong>
        {% for p in related_pages %}
          <ul>
            {% if page.author != p.author %}
              {% assign a = site.data.people[p.author] %}
              <li>
                <a href="/rickshaw{{ page.url }}">{{ a.name }}</a>
              </li>
            {% endif %}
          {% endfor %}
        </ul>
      </div>
    {% endif %}

</section>