---
layout: fullscreen
max_width: true
---

{% assign author = site.data.people[page.author] %}

<section class="oneword">
	{% include header_breadcrumb.html %}

	<div class="content mt-4">
	  {{ content }}
	</div>


  {% assign related_pages = site.pages | where: "layout", "one-word" %}

  <div class="row">
    {% if related_pages != empty %}
      <div class="col-12">
        <h2 class="mt-1">Other Words</h2>
          <ul>
						{% for p in related_pages %}
	            {% if page.author != p.author %}
	              {% assign a = site.data.people[p.author] %}
	              <li>
	                <a href="/rickshaw{{ page.url }}">{{ a.name }}</a>
	              </li>
	            {% endif %}
	          {% endfor %}
        </ul>
      </div>
    {% endif %}

</section>
