---
layout: fullscreen
max_width: true
---

{% assign author = site.data.people[page.author] %}

<section class="post">
  {% include header_breadcrumb.html %}

  <div class="meta">
    <time datetime="{{ page.date | date_to_xmlschema }}">
      {{ page.date | date: "%B %-d, %Y" }}
    </time> 
    {% if page.tags != empty %}
      &middot;
      {% for tag in page.tags %}
        <a href="/rickshaw/tag/{{tag}}">{{tag}}</a>
        {% unless forloop.last %}, {% endunless %}
      {% endfor %}
    {% endif %}
  </div>

  <div class="mt-4">
    {{ content }}
  </div>    
</section>


