---
layout: default
---

{% assign author = site.data.authors[page.author] %}

<section class="post">
  <h2>{{ page.title }}</h2>
  <div class="meta">
  	<time datetime="{{ page.date | date_to_xmlschema }}">
  		{% if author.name %}
  			<a href="/rickshaw/p/{{ page.author }}">{{ author.name }}</a> &middot;
  		{% endif %}
  		{{ page.date | date: "%B %-d, %Y" }}
  	</time> &middot; {% for tag in page.tags %}
    <a href="/rickshaw/tag/{{tag}}">{{tag}}</a>
  	{% unless forloop.last %}, {% endunless %}{% endfor %}
  </div>

  {{ content }}
      



  
  <!--<span class="meta"><time datetime="{{ page.date | date_to_xmlschema }}">{{ page.date | date: "%B %-d, %Y" }}</time> &middot; {% for tag in page.tags %}
      <a class="post" href="/tag/{{tag}}">{{tag}}</a>{% unless forloop.last %}, {% endunless %}{% endfor %}</span>
  -->
</section>


